body {
    background-color: black;
    color: purple
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15;
}

#grid {
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}